@import "variable.styl"

.el-table--striped .el-table__body tr.el-table__row--striped.current-row td, .el-table__body tr.current-row>td, .el-table__body tr.hover-row.current-row>td, .el-table__body tr.hover-row.el-table__row--striped.current-row>td, .el-table__body tr.hover-row.el-table__row--striped>td, .el-table__body tr.hover-row>td
  background-color: #bedcf7
.el-table--enable-row-hover .el-table__body tr:hover>td
  background-color: #bedcf7
.el-table
  th
    background-color #f5f7fa
    font-size: $font-size-medium-x
    font-weight: bold
    color: #333
    text-align: center
  tr
    color: #000
    text-align: center
.app-breadcrumb.el-breadcrumb
  display: inline-block
  line-height: 50px
  margin-left: 10px
  .no-redirect
    color: #fff
    cursor: text
    font-size: 20px
    font-weight: 700
  .icon-location:before
    color: #fff
    font-size: 28px
    margin-right: 5px

.el-dialog
  border-radius 5px
  border 3px solid $color-dialog-header
.el-dialog__header
  background-color $color-dialog-header
  padding 8px
  text-align left
.el-dialog__title
  color white
.el-dialog__headerbtn
  top 10px
